<div ng-controller="BudgetingEditCtrl">
  <div class="row-fluid">
    <div class="span8">

      <h2>
        Your categories
        <button ng-click="openModal()"class="btn btn-primary pull-right">Add Category</button>
      </h2>

      <div modal="modalOpen" close="closeModal()" options="opts">
        <div class="modal-header">
          <h3>New Budgeting Category</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            
            <div class="control-group">
              <label class="control-label" for="category-name">Category Name</label>
              <div class="controls">
                <input class="input-medium" id="category-name" ng-model="newCategory.category_name" />
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="monthly-allowance">Monthly Allowance</label>
              <div class="controls">
                <input class="input-medium" id="monthly-allowance" ng-model="newCategory.monthly_allowance" />
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button ng-click="closeModal()" class="btn">Cancel</button>
          <button ng-click="saveNewCategory()" class="btn btn-success">Save</button>
        </div>
      </div>


      <table class="table table-hover categories-table">
        <tr>
          <th>Category Name</th>
          <th>Budgeted Amount</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="category in spending_categories">
          <td><[ category.category_name ]></td>
          <td ng-show="category.editing"><input class="input-small" type="text" ng-model="category.monthly_allowance"/></td>
          <td ng-hide="category.editing"><[ category.monthly_allowance | currency ]></td>
          <td ng-show="category.editing" ng-click="saveEdit(category)"><i class="icon-ok"></i></td>
          <td ng-hide="category.editing" ng-click="editCategory(category)" style="width: 1%"><i class="icon-pencil"></i></td>
          <td ng-click="deleteCategory(category)" style="width: 1%"><i class="icon-remove"></i></td>
        </tr>
        <tr class="everything-else">
          <td>Everthing Else</td>
          <td ng-show="editingCatchAll"><input type="text" class="input-small" ng-model="user.other_monthly_allowance"></td>
          <td ng-hide="editingCatchAll"><[ user.other_monthly_allowance | currency ]></td>
          <td ng-show="editingCatchAll" ng-click="saveUserCatchAll()"><i class="icon-ok"></i></td>
          <td ng-hide="editingCatchAll" ng-click="editUserCatchAll()"><i class="icon-pencil"></i></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>