<div ng-controller="AddReceiptCtrl" class="container">
  <div class="row-fluid">
    <div class="span3">
      <div ng-include="'static/partials/sidebar.html'"></div>
    </div><!--/span-->
    <div class="span9">
      <h2>Add a new receipt</h2>
      <!-- <h2>Hello</h2> -->
      
      <!-- Add Receipt Modal -->
      <!-- <div id="addReceiptModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addReceiptModal" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="addReceiptModalLabel">Add Receipt</h3>
        </div>
        <div class="modal-body add-receipt"> -->

          <dl class=".add-receipt">
            
            <dt><p><strong>Store Name</strong></p></dt>
            <dd><input name="storeName" type="text" placeholder="e.g. Jimmy's Steakhouse" ng-model="receipt.store_name" /></dd>
            
            <!-- <dt><p><strong>Total Transaction</strong></p></dt>
            <dd><input name="totalTransaction" type="text" placeholder="e.g. <[ price_example | currency ]>" ng-model="receipt.totalTransaction" /></dd> -->
            
            
            <dt><p><strong>Date & Time</strong></p></dt>
            <dd>
              <div id="addreceiptdatetimepicker" class="input-append date">
                <input data-format="dd/MM/yyyy hh:mm:ss" type="text" ng-model="receipt.date_time" />
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                  </i>
                </span>
              </div>
            </dd>
            
            
            <dt><p><strong>Category</strong></p></dt>
            <dd><input name="category" type="text" placeholder="e.g. Clothing" ng-model="receipt.category"></dd>

            <dt><p><strong>Items</strong></p></dt>
            <dd>
              <ul>
                <li ng-repeat="item in receipt.items" style="list-style-type: none">
                  <input type="text" placeholder="Item Name" ng-model="item.name"/> 
                  <input type="text" class="input-mini" placeholder="Quantity" ng-change="calculateTotal()" ng-model="item.quantity"/> 
                  <input type="text" class="input-small" placeholder="Item Price" ng-change="calculateTotal()" ng-model="item.price_per_item" />
                  <i ng-click="removeItem(item)" class="icon-remove" ></i>
                </li>
                <li ng-click="addItem()" style="list-style-type: none">
                  <i class="icon-plus"></i> Add another item
                </li> 
              </ul>
            </dd>
          </dl>
          <h4>Total amount </h4><h4 class="unemphasis"><[ receiptTotal | currency]></h4>

          <button class="btn btn-waning" ng-click="clearData()" >Clear</button>
          <button class="pull-right btn-success btn" ng-click="submitReceipt()" style="margin-left: 10px">Confirm</button>
          <button class="pull-right btn-wanring btn" ng-click="cancel()">Cancel</button>
            
          
<!--         </div>
        <div class="modal-footer">
          <button ng-click="clearReceipt()" class="btn" aria-hidden="true">Clear</button>
          <button ng-click="saveReceipt()" class="btn btn-primary">Save Receipt</button>
        </div> -->
      <!-- </div> -->
    </div><!--/span-->

  </div><!--/row-->
  <hr />

  <[ receipt ]>
</div>