<div ng-controller="BudgetingCtrl" class="container">
  <div class="row-fluid">
    <div class="span3">
      <div ng-include="'static/partials/sidebar.html'"></div>
    </div><!--/span-->
    <div class="span9">
      <h1>Budgeting</h1>
      <select ng-model="month" class="input-medium" ng-change="refreshData()">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      <select ng-model="year" class="input-small" ng-change="refreshData()">
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
      </select>

      <h3 ng-show="catch_all_not_set">You haven't set a monthly allowance for all other spending. <span class="psuedo-link" ng-click="editCatchAll()">Set it now?</span> </h3>
      <h3 ng-show="not_editing_catch_all">You have set <[ user.other_monthly_allowance | currency ]> for all other categories. <span style="color: #428bca;" ng-click="editCatchAll()">Change this?</span></h3>
      <h3 ng-show="editing_catch_all">Allow <input type="text" ng-model="user.other_monthly_allowance" /> for all other categories. <button ng-click="saveCatchAll()">Save</button></h3>
      <h3 class="unemphaisis"><[ other ]></h3>

      <div class="row-fluid" ng-repeat="categoryList in spending_categories">
        <div class="span4" ng-repeat="category in categoryList">
          <h2><[ category.category_name ]></h2>
          <h3 class="<[ seriousness(category.ratio) ]>" ><[ category.ratio ]>%</h3>
          <h4>of budgeted <[ category.monthly_allowance | currency]> spent</h4>
        </div>
      </div>
<!-- 
      <ul>
        <li ng-repeat="spending_category in spending_categories">
          <h3><[ spending_category.category_name ]></h3>
          <h5><span class="unemphasis"><[ spending_category.monthly_spend | currency ]></span> of budgeted <span class="unemphasis"><[ spending_category.monthly_allowance |currency ]></span> spent this month</h5>
          <p ng-hide="spending_category.editing" style="color: #428bca;" ng-click="enableEditing(spending_category)">Change budgeted amount</p>
          <div ng-show="spending_category.editing">
            <p>Allow <input type="text" ng-model="spending_category.monthly_allowance"/> per month for this category.<button ng-click="updateAllowance(spending_category)">Save</button></p></div>
        </li>
      </ul> -->
    </div>
  <hr />
</div>