<div ng-controller="HomeCtrl" class="container">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <div class="media">
          <img class="pull-left media-object gravatar" ng-src="<[ user.gravatar_url ]>" />
          <div class="name-heading">
            <p class="lead">
              <strong><[user["first_name"]]></strong><br />
              <[user["last_name"]]>
            </p>
          </div>
        </div>
        <ul class="nav nav-list">
          <li class="nav-header">Money Management</li>
          <li><a href="#"><i class="icon-angle-right"></i> Spending History</a></li>
          <li><a href="#"><i class="icon-angle-right"></i> Budgeting</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <h2>Receipts
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addReceiptModal" type="button"><i class="icon-plus"/> Add Receipt</button>
      </h2>
      
      <!-- Add Receipt Modal -->
      <div id="addReceiptModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addReceiptModal" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="addReceiptModalLabel">Add Receipt</h3>
        </div>
        <div class="modal-body add-receipt">

          <!-- Receipt Form -->
          <table class=".add-receipt">
            <tr>
              <td><p><strong>Store Name</strong></p></td>
              <td><input name="storeName" type="text" placeholder="e.g. Jimmy's Steakhouse" ng-model="new_receipt.storeName" /></td>
            </tr>

            <tr>
              <td><p><strong>Tax Rate (%)</strong></p></td>
              <td><input name="taxRate" type="text" placeholder="e.g. 15" ng-model="new_receipt.taxRate" /></td>
            </tr>

            <tr>
              <td><p><strong>Total Transaction</strong></p></td>
              <td><input name="totalTransaction" type="text" placeholder="e.g. <[ price_example | currency ]>" ng-model="new_receipt.totalTransaction" /></td>
            </tr>
            <tr>
              <td><p><strong>Date & Time</strong></p></td>
              <td>
                <div id="addreceiptdatetimepicker" class="input-append date">
                  <input data-format="dd/MM/yyyy hh:mm:ss" type="text" ng-model="new_receipt.dateTime" />
                  <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                    </i>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <td><p><strong>Category</strong></p></td>
              <td><input name="category" type="text" placeholder="e.g. Clothing" ng-model="new_receipt.category"></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button ng-click="clearReceipt()" class="btn" aria-hidden="true">Clear</button>
          <button ng-click="saveReceipt()" class="btn btn-primary">Save Receipt</button>
        </div>
      </div>

      <table class="table table-bordered table-hover">
        <tr>
          <th>Store</th>
          <th>Time</th>
          <th>Category</th>
          <th>Total Transaction</th>
        </tr>
        <tr ng-repeat="receipt in user_receipts">
          <td><[ receipt["store_name"] ]></td>
          <td><[ receipt["date"].substring(0,16) ]></td>
          <td><[ receipt["category"] ]></td>
          <td><[ receipt["total_transaction"] | currency ]></td>
        </tr>
      </table>
    </div><!--/span-->
  </div><!--/row-->
  <hr />
</div>