<div ng-controller="HomeCtrl" class="container">
  <div class="row-fluid">
    <div class="span3">
      <div ng-include="'static/partials/sidebar.html'"></div>
    </div><!--/span-->
    <div class="span9">
      <h2>Receipts
        <button class="btn btn-primary pull-right" ng-click="create_receipt()" type="button"><i class="icon-plus"/> Add Receipt</button>
      </h2>

      <table class="table table-bordered table-hover">
        <tr>
          <th>Store</th>
          <th>Time</th>
          <th>Category</th>
          <th>Total Transaction</th>
        </tr>
        <tr ng-repeat="receipt in user_receipts" ng-click="goToReceipt(receipt)">
          <td><[ receipt["store_name"] ]></td>
          <td><[ receipt["date"].substring(0,16) ]></td>
          <td><[ receipt["category"] ]></td>
          <td><[ receipt["total_transaction"] | currency ]></td>
        </tr>
      </table>
    </div><!--/span-->

  </div><!--/row-->
  <hr />
</div>