<div ng-controller="ReceiptCtrl" class="container">
  <div class="row-fluid">
    <div class="span3">
      <div ng-include="'static/partials/sidebar.html'"></div>
    </div><!--/span-->
    <div class="span9">
      <h2><strong>Purchase at </strong><span class="unemphasis"><[receipt.store_name]></span></h2>
      <div class="row-fluid">
        <div class="span2">
          <h5>Category: <span class="unemphasis"><[ receipt["category"] ]></span></h5>
        </div>
        <div class="span4">
          <h5>Date: <span class="unemphasis"><[ receipt["date"].substring(0,16) ]></span></h5>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span8">
          <table class="table table-bordered table-hover">
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Price Per Unit</th>
              <th>Cost</th>
            </tr>
            <tr ng-repeat="item in receipt.purchased_items">
              <td><[ item["item_name"] ]></td>
              <td><[ item["quantity"] ]></td>
              <td><[ item["category"] ]></td>
              <td><[ item["price_per_unit"] | currency ]></td>
              <td><[ item["price_per_unit"] * item["quantity"] | currency ]></td>
            </tr>
          </table>
        </div><!--/span-->
      </div>
    </div><!-- /span --> 
  </div><!--/row-->
  <hr />
  <[params]>
</div>