<div ng-controller="ReceiptCtrl" class="container receipt">
  <div class="row-fluid">
    <div class="span3">
      <div ng-include="'static/partials/sidebar.html'"></div>
    </div><!--/span-->
    <div class="span9">
      <h2><strong>Purchase at </strong><span class="moneyText"><[receipt.store_name]></span> for <span class="moneyText"><[receipt.total_transaction | currency]></span></h2>
      <div class="row-fluid">
        <div class="span9">
          <h3>Category: <[ receipt["category"] ]></h3>
          <h3>Date: <[ receipt["date_time"].substring(0,16) ]></h3>
        </div>
      </div>  
      <table class="table table-bordered table-hover">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Price Per Unit</th>
          <th>Cost</th>
        </tr>
        <tr ng-repeat="item in receipt.items">
          <td><[ item["item_name"] ]></td>
          <td><[ item["quantity"] ]></td>
          <td><[ item["category"] ]></td>
          <td><[ item["price_per_item"] | currency ]></td>
          <td><[ item["price_per_item"] * item["quantity"] | currency ]></td>
        </tr>
      </table>
    </div><!-- /span --> 
  </div><!--/row-->
  <hr />
  <[params]>
</div>