<div ng-controller="RootCtrl">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <h1>Receipts++</h1>
      </div>
      <div class="span3">
        <div class="form-signin">
          <span class="lead"><p><strong>Sign in</strong> or <a href="#/signup">Register</a></p></span>
          <input type="text"  placeholder="Email" ng-model="params.email_address"><br />
          <input type="password" placeholder="Password" ng-model="params.password"><br />
          <button ng-click="login()" class="btn btn-primary pull-right">Log in <i class="icon-signin"></i></button>
        </div>
      </div><!-- span -->
    </div><!-- row -->
    <div class="marketing">
      <div class="row-fluid">
        <div class="span4">
          <div class="first">
            <img class="img-circle" src="static/img/noreceipts.png">
            <h2>No paper</h2>
            <p>By using Recipts++ you will decrease the amount of clutter in your wallet. There is no longer any need to track your spending by keeping receipts as you can upload your spending data at the point of sale.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="static/img/allsources.png">
          <h2>All sources</h2>
          <p>Whether you are spending cash, paying by eftpos or with credit card, Receipts++ can track your spending. You can then see how much you are spending from each source.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="static/img/budgeting.png">
          <h2>Budgeting</h2>
          <p>Recipts++ provides you with an accurate and up to date budgeting system. By uploading your data as soon as you spend your budget sheet is always up to date, ensuring you don't over spend.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
      <hr />

    </div>
  </div><!-- /.container -->
</div>