<div ng-controller="SignUpCtrl">
  <input type="text" placeholder="First Name" ng-model="params.first_name"><br />
  <input type="text" placeholder="Last Name" ng-model="params.last_name"><br />
  <input type="text" placeholder="Email" ng-model="params.email_address"><br />
  <input type="password" placeholder="Password" ng-model="params.password"><br />
  <input type="password" placeholder="Confirm" ng-model="params.confirm"><br />
  <button ng-click="signup()" class="btn">Sign up</button>


  <hr />
  <[ params ]>
</div>