<!doctype html>
<html ng-app="rppApp" id="ng-app">
<head>

  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/toastr.min.js') }}"></script>
    
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/angular.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/angular-cookies.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/angular-resource.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/angular-ui-utils.js') }}"></script>

  <title>Receipts++</title>

</head>
<body>

  <p><a href="#/">Home</a></p>
  <p><a href="#/signup">Sign Up</a></p>
  <p><a href="#/login">Login</a></p>
  <p><a href="#/logout">Logout</a></p>

  <div ng-view ></div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/home_controller.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/signup_controller.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/login_controller.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/logout_controller.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/root_controller.js') }}"></script>
</body>
</html>